html{
    font-size: 15px;
}

// Estilos Pagina de autenticacion
#pag-autenticacion{
    // background-image: url("../img/Fondo-El-Estante-Autenticar.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.img-libros{
    width: 40vw;
}

.container{
    height: 95vh;
}


// Estilos pagina Home
#pag-home .card{
    height: 25vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#pag-home .container{
    margin-top: 5vh;
}
// #pag-home .card .card-body{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

#pag-home #Gestionar-Usuarios{
    background: url(../img/GestionarUsuariosImg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#pag-home #Gestionar-Usuarios::after{
    content: "Gestionar Usuarios";
    font-size: 2rem;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    text-transform: uppercase;
}
#pag-home #Gestionar-Usuarios:hover:after{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

#pag-home #Gestionar-Modulos{
    background: url(../img/GestionarModulosImg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#pag-home #Gestionar-Modulos::after{
    content: "Gestionar Modulos";
    font-size: 2rem;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    text-transform: uppercase;
}
#pag-home #Gestionar-Modulos:hover:after{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

#pag-home #Gestionar-Libros{
    background: url(../img/GestionarLibrosImg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#pag-home #Gestionar-Libros::after{
    content: "Gestionar Libros";
    font-size: 2rem;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    text-transform: uppercase;
}
#pag-home #Gestionar-Libros:hover:after{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}


.fa{
    color: white;
    font-size: 1rem;
    margin-right: .5rem;
}

/************************
// Estilos para desktop
************************/
@media screen and (min-Width:330px){
    #pag-home #Gestionar-Usuarios::after,
    #pag-home #Gestionar-Modulos::after,
    #pag-home #Gestionar-Libros::after{
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

@media screen and (min-Width:576px) {
        // Pagina Home
        #pag-home .card{
            flex: 0 1 30%;
            height: 45vh;
            
        }

        #pag-home #Gestionar-Usuarios::after{
            content: "Gestionar Usuarios";
            height: 45vh;
            transform: translateY(100%);
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            padding: 0;
        }

        #pag-home #Gestionar-Modulos::after{
            content: "Gestionar Modulos";
            height: 45vh;
            transform: translateY(100%);
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            padding: 0;
        }

        #pag-home #Gestionar-Libros::after{
            content: "Gestionar Libros";
            height: 45vh;
            padding: 1rem;
            transform: translateY(100%);
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            padding: 0;
        }
}

@media screen and (min-Width:992px){
    #pag-home #Gestionar-Usuarios::after,
    #pag-home #Gestionar-Modulos::after,
    #pag-home #Gestionar-Libros::after{
        font-size: 3rem;
    }
}