// Estilos Pagina de autenticacion
#pag-autenticacion{
    // background-image: url("../img/Fondo-El-Estante-Autenticar.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.img-libros{
    width: 40vw;
}





.fa{
    color: white;
    font-size: 1rem;
    margin-right: .5rem;
}